html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #eceff1;
  color: #4d4d4d;
  font-family: sans-serif;
  padding: 0 3rem;
}

.win {
  border: 2px solid #4caf50;
}

.lose {
  border: 2px solid crimson;
}

.winner {
  color: #4caf50;
}

.loser {
  color: crimson;
}
